html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

body {
  background: #E8FFFE;
  font-family: "Century Gothic", Futura, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-container {
  display: flex;
  flex-direction: column;
}

#name, #title, .project-title {
  text-align: center;
}

#name {
  color: #202D2D;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 2rem 2rem 0;
  text-transform: uppercase;
  line-height: normal;
}

#title {
  color: #0E7F7C;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.project-links, .contact-container {
  display: flex;
  padding: 0;
  justify-content: center;
}

.contact-container {
  flex-wrap: wrap;
}

.cta {
  color: #16CCC7;
  flex-basis: 26vw;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 6vw;
  font-weight: lighter;
  padding: 2vh 1vh;
  margin: 2vw;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  max-width: 40vw;
}

.cta:hover {
  color: #1BFFF9;
}

.contact-container .cta {
  flex-basis: 100%;
  font-size: 1rem;
  line-height: 1.2rem;
  height: 84px;
  min-height: 84px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  transition: .5s;
  width: 150px;
  background-color: #aeefed78;
  margin: 10px;
}

.contact-container .cta div {
  transition: .25s;
}

.contact-container .cta:hover {
  color: #1BFFF9;
  background-color: #00a19d;
}

.contact-container .cta:hover div {
  scale: 1.065;
  transition: .125s;
  text-shadow: 0px 3px 6px #005D5B;
}

.projects-link {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.projects-cta, .fa-chevron-down {
  color: #16CCC7;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
}

.projects-cta {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
}

.project {
  background: #E8FFFE;
  color: #005D5B;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin: 6vw;
  text-align: center;
}

.project-links .cta {
  align-self: center;
  font-size: 1rem;
}

.repo-link {
  vertical-align: middle;
  line-height: 3em;
}

.fa-github {
  vertical-align: middle;
}

.macbook {
  width: 75vw;
  align-self: center;
}

.project-title {
  font-size: 5vh;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 0;
}

.project-description {
  color: #202D2D;
  margin: 0 auto;
  text-align: justify;
}

li {
  list-style: none;
}

p.project-description {
  line-height: 1.5;
}

@media screen and (min-width: 425px) {

  footer .cta {
    max-width: 10vw;
  }

  .macbook {
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {

  .project-description {
    max-width: 50%;
  }

  .cta {
    margin: 0;
    flex-grow: 0;
  }

  .contact-container {
    align-items: center;
    flex-direction: column;
  }

  .contact-container .cta {
    font-size: 1.3rem;
    line-height: 1.15;
  }

  .macbook {
    margin: 0;
  }

  .project i.fa.fa-chevron-down {
    display: none;
  }

}

.no-transition * {
  transition: none !important;
}

/*pretending to be white #E8FFFE
light turquoise #a3fffc
medium turquoise #1BFFF9
turquoise #16CCC7
darkest turquoise #0E7F7C
gray #505050
pretending to be black #202D2D*/
