body {
  background: #e0fdff;
  font-family: "Century Gothic", Futura, sans-serif;
}

header {
  background: #ffffff;
}

nav {
  box-shadow: 1px 3px 3px #888;
  text-align: center;
}

.nav-link {
  color: #56dee8;
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #56dee8;
  display: inline-block;
  width: 100px;
  margin: 2rem;
  padding: 1rem;
}

.nav-link:hover {
  color: #008A96;
  border: 2px solid #008A96;

}

.major-section {
  text-align: center;
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 0 8px #888;
}

.about-me {
  padding: 3rem 3rem 0 3rem;
  text-align: center;
  background: #ffffff;
}

.live-version {
  color: #ffffff;
  background: #56dee8;
  font-size: 18px;
  line-height: 5rem;
  text-decoration: none;
  box-shadow: 0 4px 0 #008A96;
  border: 0;
	padding: 15px 25px;
  vertical-align: middle;
}

.live-version:active {
  top: 4px;
  box-shadow: 0 4px 0 #008A96;
  background-color: #008A96;
}

.live-version:hover {
  opacity: .5;
}

footer {
  background: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px #888;
  line-height: 8rem;
  vertical-align: middle;
  height: 8rem;
}

.footer-link {
  color: #56dee8;
  padding: 2rem;
  line-height: 5rem;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: #008A96;
}

.name, .title, .major-heading, .minor-heading, .project-title {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.title, .project-title {
  color: #888;
}

h2 {
  margin-top: 3rem;
}

p {
  line-height: 27px;
  text-align: justify;
}

.skill-title {
  text-align: center;
}

.flex {
  display: flex;
}

.skill {
  max-width: 350px;
  padding: 0 3rem;
  margin: 3rem auto;
}

.section {
  text-align: center;
  margin: auto;
}

.repo-link {
  color: #ffffff;
  line-height: 5rem;
  background-color: #008A96;
  padding: 15px 25px;
  text-decoration: none;
  vertical-align: middle;
  font-size: 18px;
  box-shadow: 0 4px 0 #56dee8;
}

.repo-link:hover {
  opacity: .5;
}

.repo {
  color: #ffffff;
  vertical-align: middle;
  padding-left: 2px;
  padding-bottom: 2px;
}

.horizontal-line {
  padding: 2rem;
  border-top: 2px solid #888;
}

a {
  transition: all 0.3s ease-in-out;
}

.social-section {
  margin: 0 auto;
  text-align: center;
  height: 6rem;
}

.me {
  font-weight: 500;
letter-spacing: 3px;
font-size: 42px;
}

/*img {
  background-color: #008A96;
}*/

.macbook {
  max-width: 800px;
}

.iphone {
  max-width: 200px;
}
