body {
  background: #fafafa;
  font-family: "Century Gothic", Futura, sans-serif;
}

.nav-link {
  background: #ffffff;
  color: #56dee8;
  font-size: 18px;
  text-decoration:none;
}

.nav-link:hover {
  color: #008A96;
  border-bottom: 1px solid #008A96;
}

.major-section {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

footer {
  text-align: center;
}

.fa {
  color: #56dee8;
  padding: 2vw;
}

.fa:hover {
  color: #008A96;
}
